* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: verdana;
}

body {
    background-color: rgb(84, 73, 73);
}

#container {
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}

header span {
    color: #ff0000;
    text-shadow: 3px 3px 5px #000000;
    letter-spacing: 7px;
}

nav {
    background-color: rgb(50, 47, 47);
}

nav button {
    display: none;
    background-color: #fff;
}

nav span {
    /*alt alta üç menü çizgisi*/
    display: block;
    width: 40px;
    border-bottom: 3px solid #000000;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    height: 50px;
    /*ul a yükseklik veriyoruz çünkü hover durumunda çıkan kırmızı border yüzünden yazıda kayma olmasın. sabit olsun*/
}

nav ul a {
    color: #ffffff;
    font-size: 20px;
    display: block;
    line-height: 50px;
    padding-left: 20px;
}

nav ul a:hover {
    background-color: #ff0000;
}

nav ul:hover {
    border-bottom: 3px solid #ff0000;
}

#slider {
    height: 500px;
    background-image: url(../images/pic01.jpg);
    background-size: 1200px 500px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

#serit {
    width: 3600px;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    transition-property: left;
    transition-duration: 2s;
    /* transition: left 2s;  tek satırda da yazılabilir */
}

#serit div {
    width: 1200px;
    height: 500px;
    padding: 30px 50px;
    color: #000000;
    background-color: rgb(255, 255, 255, 0.2);
}

/* #slider div:first-child{
    position: absolute;
    z-index: 1000;
} */
.ilerigeri {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.ilerigeri span{
    display: block;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 30px;
    font-size: 40px;
    color: rgb(126, 123, 123);
}

@media only screen and (max-width:768px) {
    #container {
        width: 100%;
    }

    header h1 {
        text-align: center;
    }

    nav button {
        display: block;
        margin-left: 20px;

    }

    nav ul {
        display: none;
        width: 100%;
        height: calc(100vh - 120px);
        background-color: #ffffff;

    }

    nav ul a {
        color: #000000;
    }

    #slider {
        height: 250px;
        background-size: 100% 250px;
    }

    #serit {
        width: 300%;
    }

    #serit div {
        width: 100%;
        height: 250px;
        padding: 30px;
    }
    .ilerigeri{
        height: 250px;

    }
}